:root{

    --color-white:#fff;
    --color-black:#000;
    --color-dark-red:rgba(237, 32, 36, 1);
    --color-btn-orange:#ff7e66;

    
}

*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after{
    box-sizing:inherit;

}

html{
font-size:62.5%;
box-sizing:border-box;
}

body{
    line-height:1.6;
   
}
